.login-container {
  max-width: 400px;
  margin: auto;
  margin-top: 120px;
  background: #1e293b;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid;
}

.login-container h2 {
  text-align: center;
}

.login-container input {
  align-items: center;
  max-width: 200px;
}

.switch-link {
  text-align: center;
  margin-top: 10px;
  color: #38bdf8;
  cursor: pointer;
}
