body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f172a;
  color: white;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

button {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #2563eb;
  color: white;
}
